@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

body {
  background-color: #EFE3D0;
  font-family: 'Baloo 2';
  color: #253C78;
  font-size: 18px;
  line-height: 25px;
}

h1, h2 {
  font-family: 'Special Elite';
  color: #002366
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

a {
  text-decoration: none;
  color: #0F52BA;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 40px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

a:hover {
  color: lightskyblue;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.card {
  margin: 10px;
  padding: 10px 30px;
  background-color: white;
}

.btn-blue {
  background-color: #253C78;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  padding: 10px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.img-circle {
  border-radius: 50%;
  width: 200px;
}

.button {
  margin: 30px 0px;
}

.button-small {
  margin: 30px 0px;
  font-size: 12px;
}

.color-red {
  color: red;
}

.color-red:hover {
  color: pink;
  }

.btn-blue:hover {
  color: lightgrey;
  font-size: 110%;
}


.dd-list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 10px;
}

.dd-list-inline {
  list-style: none;
  padding-left: 0px;
}

.color-black-bold {
  color: black;
  font-weight: bold;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
  .btn-blue:hover {
    font-size: 100%;
  }
  .list-inline > li {
  display: block;
  padding: 5px 0px;
}
